Repository BioDynaMo/biodynamo, pull requests merged in 2022-11, with the labels that each got.

#289 Add different interaction modes
  src/core/behavior/secretion.h
  src/core/diffusion/diffusion_grid.cc
  src/core/diffusion/diffusion_grid.h
  test/unit/core/diffusion_test.cc
Labels: enhancement, bdm-core, ready

#291 Restructure `ROOT` support based on `Xcode` version
  .github/workflows/macos-ci.yml
  .github/workflows/macos-system-ci.yml
  cmake/external/ROOT.cmake
  cmake/external/SHA256Digests.cmake
Labels: ready-for-review, build-system

#290 Make LAPACK and BLAS libraries available to user code
  cmake/UseBioDynaMo.cmake.in
Labels: build-system, ready
