Repository BioDynaMo/biodynamo, pull requests merged in 2022-12, with the labels that each got.

#295 Fix optimlib / armadillo dependency
  third_party/optim-18ae71.zip
Labels: ready-for-review, minor-fix

#297 Fixed issue where readme has dead web page
  demo/tumor_concept/README.md
Labels: examples, documentation

#288 Modify stability condition and decay check
  src/core/diffusion/diffusion_grid.cc
Labels: enhancement, bdm-core, ready

#300 Introduce `libgit2` to track state of git repository
  .github/workflows/centos-ci.yml
  .github/workflows/centos-system-ci.yml
  .github/workflows/macos-ci.yml
  .github/workflows/macos-system-ci.yml
  .github/workflows/sonar-source.yml
  .github/workflows/ubuntu-ci.yml
  .github/workflows/ubuntu-system-ci.yml
  .gitignore
  CMakeLists.txt
  cmake/external/Libgit2.cmake
  doc/dev_guide/build.md
  doc/user_guide/prerequisites.md
  src/core/param/param.h
  src/core/simulation.cc
  src/core/util/git_tracker.cc
  src/core/util/git_tracker.h
  util/installation/osx/package_list_extra
  util/installation/ubuntu-18.04/package_list_extra
Labels: enhancement, build-system, ready
