Repository BioDynaMo/biodynamo, pull requests merged in 2023-03, with the labels that each got.

#324 Improve error message of DG::ParameterCheck
  src/core/diffusion/diffusion_grid.cc
Labels: ready-for-review, diffusion

#325 Add flag to turn off gradient computation for DG
  src/core/diffusion/diffusion_grid.cc
  src/core/diffusion/diffusion_grid.h
Labels: ready-for-review, diffusion

#327 Parallelize `DG::RunInitializers`
  src/core/diffusion/diffusion_grid.cc
  src/core/diffusion/diffusion_grid.h
  test/unit/core/diffusion_init_test.cc
Labels: enhancement

#307 Add support for Ubuntu 22.04
  .github/workflows/ubuntu-ci.yml
  .github/workflows/ubuntu-system-ci.yml
  cmake/external/ROOT.cmake
  cmake/external/SHA256Digests.cmake
  doc/user_guide/installation.md
  doc/user_guide/prerequisites.md
  util/build-third-party/third-party-prerequisites.sh
  util/for-all-linux-run-inside-docker.sh
  util/installation/ubuntu-22.04/Dockerfile
  util/installation/ubuntu-22.04/package_list_extra
  util/installation/ubuntu-22.04/package_list_required
  util/installation/ubuntu-22.04/pip_packages.txt
  util/installation/ubuntu-22.04/prerequisites.sh
  util/valgrind-bdm.supp
Labels: enhancement, ready, operating-system
